@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
   font-family: "Raleway", sans-serif;
   padding: 0;
   margin: 0;
   background-color: #eee;
   color: #020c12;
}

@keyframes slide-in {
   from {
      margin-right: 100%;
      width: 300%;
   }

   to {
      margin-left: 0%;
      width: 100%;
   }
}

h1 {
   font-size: 2.5rem;
   text-align: center;
   color: #168b47;
   margin-bottom: 0;

   animation: slide-in 1.5s;
}

h2 {
   font-size: 2rem;
   text-align: center;
   color: #168b47;
}

p {
   font-size: 0.8rem;
}

h3 {
   font-size: 1.5rem;
   color: #168b47;
}

h4 {
   font-size: 1.1rem;
   color: #0798e7;
   text-align: center;
}

.navbar {
   background-color: #168b47;
   padding: 1rem;
   display: flex;
   align-items: center;
   min-width: 100px;
}

.navbar > img {
   width: 5rem;
}

.logo-text {
   font-weight: bold;
   color: #eee;
   font-size: 1.5rem;
   padding-left: 1rem;
}

.slogan {
   margin: 0;
   font-size: 1.2rem;
   text-align: center;
   font-style: italic;
   color: grey;
   font-weight: 300;

   animation: slide-in 1.5s;
}

.main-container {
   flex: 1;
   justify-content: center;
}

.mv,
.who-we-are {
   margin: 1rem 1rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   gap: 1rem;
}

.who-we-are {
   align-items: center;
}

.hwe-text,
.hwe-img,
.mision,
.vision,
.values {
   flex: 1;
   min-width: 200px;
   text-align: center;
}

.hwe-logo {
   width: 15rem;
   height: auto;
   display: block;
   margin: 0 auto;
}

.values-list {
   justify-content: center;
   list-style: none;
   gap: 1rem;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   font-size: 0.8rem;
}

.steam,
.foda,
.canvas {
   margin: 1rem 1rem;
}

.steam-text {
   text-align: justify;
}

.steam-cards-container,
.rows {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   gap: 1rem;
   margin-bottom: 1rem;
}

.steam-cards,
.char,
.canvas-card-mini,
.canvas-card {
   background-color: #ddd;
   padding: 1rem;
   border-radius: 1rem;
   flex: 1;
   min-width: 125px;
   text-align: center;
}

.subtitle {
   font-size: 1rem;
   color: #0798e7;
   text-align: center;
   margin: 0;
   font-weight: 600;
}

.char > h4 {
   color: #0c4467;
   font-size: 1.2rem;
}

.canvas-top {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin-bottom: 1rem;
}

.canvas-card-mini {
   margin-bottom: 1rem;
}

.canvas-img {
   width: 100%;
}

.col-1 > h4 {
   color: #1c9f01;
}

.col-2 > h4 {
   color: #ff8c00;
}

.col-3 > h4 {
   color: #ff0000;
}

.col-4 > h4 {
   color: #0062ff;
}

.col-5 > h4 {
   color: #ff00ff;
}

.col-6 > h4 {
   color: #2600ff;
}

.col-7 > h4 {
   color: #b29400;
}

.footer {
   background-color: #168b47;
   padding: 1rem;
   display: flex;
   align-items: center;
   min-width: 100px;
   justify-content: center;
}

.footer-text {
   font-size: 0.7rem;
   color: white;
   font-weight: 500;
   text-align: center;
}
